
.partners{
	background-color: $bg;
	&__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0;
	}

}
@media (max-width: 850px){
	.partners{
		&__inner{
			flex-wrap: wrap;
			justify-content: center;
		}
		&__img {
    		margin: 18px 45px;
		}
	}
}
@media (max-width: 650px){
	.partners{
		&__img {
    		margin: 22px 90px;
		}
	}
}
